<h1 style="text-align: center">Tactical Crypto Holdings</h1>
<div class="start">
  <%= link_to 'Check Trades', trades_check_trades_path, method: :post %>
</div>
<div class="container-fluid">

        <div class="row top-row">

          <div class="col-xs-4 col-sm-4">
            <h5>LEGEND</h5>
            <div class="border">
              <table class="table table-hover">
              <tbody>
                <tr>
                  <td class="table-top">TRADING PAIR:</td>
                  <td class="table-top">ETH/OMG</td>
                </tr>
                <tr>
                  <td>EXCHANGE PAIR:</td>
                  <td>LIQUI/POLONIEX</td>
                </tr>
                <tr>
                  <td>CURRENCY:</td>
                  <td>ETH</td>
                </tr>
                <tr>
                  <td>COMMODITY:</td>
                  <td>OMG</td>
                </tr>
                <tr>
                  <td>PROFIT DELTA:</td>
                  <td>0.0001 OMG/ETH</td>
                </tr>
                <tr>
                  <td>COMMODITY AMOUNT:</td>
                  <td>0.5 OMG</td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4">
             <h5>CURRENT CYCLE</h5>
             <div class="border big-cycle-box clearfix gray">
              <div class="cycle-box">
                <h6>PROFIT</h6>
                <p class="text-success">0.018748 OMG</p>
              </div>
              <div class="cycle-box">
                <h6>LOSS</h6>
                <p class="text-danger">0.00000 ETH</p>
              </div>
              <div class="cycle-box">
                <h6>TRADES FILLED</h6>
                <p class="text-success">12</p>
              </div>
              <div class="cycle-box">
                <h6>TRADES OPEN</h6>
                <p class="text-danger">1</p>
              </div>
              <div class="cycle-time dark border">
                <h6>START DATE</h6>
                <p><%= "#{@trades.first.created_at.day}/#{@trades.first.created_at.month}/#{@trades.first.created_at.year}"%></p>
              </div>
              <div class="cycle-time dark border">
                <h6>START TIME</h6>
                <p><%= "#{@trades.first.created_at.to_s.split(" ")[1]}"%></p>
              </div>
              <div class="cycle-time dark border">
                <h6>TIME ACTIVE (Mins)</h6>
                <p><%= "#{(Time.now.to_i - @trades.first.created_at.to_i)/60}"%></p>
              </div>
            </div>
          </div>
          <div class="col-xs-2 col-sm-2 balances">
            <h5>BALANCES</h5>
            <div class="dark big-dark-box gray-balances">
              <h6>LIQUI</h6>
              <div class="white balance-box"><h7>0.0187654 OMG</h7></div>
              <div class="white balance-box"><h7>0.0187654 ETH</h7></div>
            </div>
          </div>
          <div class="col-xs-2 col-sm-2 balances">
            <h5 id="ghost-title">BALANCES</h5>
            <div class="big-dark-box dark gray-balances">
              <h6>POLONIEX</h6>
              <div class="balance-box white"><h7>0.0187654 OMG</h7></div>
              <div class="balance-box white"><h7>0.0187654 ETH</h7></div>
            </div>
          </div>

        </div>

          <div class="row bottom-row">

          <div class="col-xs-10 col-sm-10">
            <h5>TRADE POSITIONS</h5>
            <table class="table table-striped border">
              <thead>
                <tr>
                  <th>Sell Exchange</th>
                  <th>Sell Rate/th>
                  <th>Buy Exchange</th>
                  <th>Rate (ETH)</th>
                  <th>Date-Time</th>
                  <th>Volume (OMG)</th>
                  <th>Delta</th>
                  <th>~ETH Gain</th>
                </tr>
              </thead>
              <tbody>
                <% if @trades.length != 0 %>
                  <% @trades.each do |trade| %>
                  <tr>
                    <td><%= trade.sell_exchange %></td>
                    <td><%= trade.sell_exchange_rate %></td>
                    <td><%= trade.buy_exchange %></td>
                    <td><%= trade.buy_exchange_rate %></td>
                    <td><%= trade.created_at %></td>
                    <td><%= trade.volume_in_omg %></td>
                    <td><%= trade.delta %></td>
                    <td><%= trade.delta * trade.volume_in_omg %></td>
                  </tr>
                  <% end %>
                <% end %>
              <tbody>
            </table>
          </div>
          <div class="col-xs-2 col-sm-2">
            <h5>HISTORY</h5>
            <div class="dark big-dark-box">
              <h6>TOTAL CYCLES</h6>
              <div class="white history-box">
                <h7>12</h7>
              </div>
              <h6>TOTAL PROFIT</h6>
              <div class="white history-box">
                <h7>18.756 ETHC</h7>
              </div>
            </div>
          </div>

        </div>

      </div>
